# Node
*.log
node_modules/

# Other
.DS_STORE
*#
*~

# Typescript related files
app.js
app.d.ts
app.js.map

*/lib/**/*.d.ts
*/lib/**/*.js.map
*/lib/**/*.js

index.js
index.d.ts
index.js.map

KeplerCompanion.js
KeplerCompanion.d.ts
KeplerCompanion.js.map